body {
  background-color: hsl(0, 11%, 91%);
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  max-width: 400px;
  padding: 16px;
}
